<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMobile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav"%>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
    <div class="container">
      <%flash.each do |key,value|%>
      <div class="alert alert-<%=dynamic(key)%>" role="alert">
  <h1 class="alert-heading"><%=value%></h1>
  <p></p>
  <hr>
  <p class="mb-0"></p>
</div>
<%end%>
     <%= yield %>  
    </div>
  </body>
</html>
